[MAIN]
disable= W0611,
         C0103,
         C0115,
         C0116,
         E0401,
         C0114,
         C0301,
         R0901,
         W0612,
         R0901,
         C0304,
         W0311,
         R0903,
         E0307,
         R0903,
         C0412,
         C0305,
         C0415,
         R0801,
