{% extends 'base.html' %}

{% block content %}
    <h1 class="h1add">{% block title %} Welcome to ADD PAGE. {% endblock %}</h1 class='about'>
    <div class="container mt-5">
    <h2>Добавление записи</h2>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Имя"><br>
        <input type="text" name="email" id="email" class="form-control" placeholder="email"><br>
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{% endblock %}